# builds
build/*
build_debug/*
sandbox/*

# Apple stuff
*.xcodeproj
.DS_Store

# VIM
*.swp

# autotools
autom4te.cache/*
*.in
*.in~
config.h*
configure
.buildutils/*
aclocal.m4

# bison/flex generated sources
lib/*Lexer.cpp
lib/*Parser.cpp
lib/*Parser.hpp

# Eigen headers
lib/Eigen/*
lib/eigen_files.mk

# CI builds
ci-scripts/local/*

# VS Code Studio stuff
.vscode
*.code-workspace
