# builds
build/*
sandbox/*

# Apple stuffs
*.xcodeproj
.DS_Store

# VIM
*.swp

# autotools
autom4te.cache/*
*.in
*.in~
config.h*
configure
.buildutils/*
aclocal.m4

# bison/flex generated sources
latan/*Lexer.cpp
latan/*Parser.cpp
latan/*Parser.hpp

# Eigen headers
latan/Eigen/*
latan/eigen_files.mk
